[submodule "test_results"]
	path = test_results
	url = https://github.com/gorosgobe/ipm-test-results.git
[submodule "models"]
	path = models
	url = https://github.com/gorosgobe/ipm-models.git
[submodule "scene2"]
	path = scene2
	url = https://github.com/gorosgobe/scene2.git
[submodule "text_camera_rand"]
	path = text_camera_rand
	url = https://github.com/gorosgobe/scene1.git
